// =========================================
//  Mixins
// =========================================

// Image Styling
@mixin img ($dim:null){
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: $dim;
  max-height: $dim;
  @content;
}

//Center Elements

@mixin center{
  margin-left: auto;
  margin-right: auto;
  @content;
}

//Button Elements

@mixin button($brdr: null, $padd: null, $marg: null){
  margin-top: 15px;
  margin-left: $marg;
  width: 100%;
  color: $white;
  border: $brdr;
  padding: $padd;
  text-transform: uppercase;
  border-radius: 5px;
  @content;

}

//Flex container

@mixin flex(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  @content;
}

// Media Queries
@mixin mquery ($break) {
  $value: map-get($breakpoints, $break);
  $m: map-get($breakpoints, 'm');

  @if $value == $m {
    @media (min-width: $value) {
      @content;
    }
  }
}

//Button Colors
@mixin btn-colors($map){
@each $button-colors, $color in $map {
  &-#{$button-colors} {
     background-color: $color;
  &:hover{
     background-color: lighten($color,15%);
  }
}
}
}
