// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-btn-1: #51ddfc;
$color-btn-2: #63cc82;
$color-btn-3: #e4757a;
$color-btn-4: #fd7856;
$color-btn-5: #927bc1;

$color-btn-lighten-1: lighten($color-btn-1, 20%);
$color-btn-lighten-2: lighten($color-btn-2, 20%);
$color-btn-lighten-3: lighten($color-btn-3, 20%);
$color-btn-lighten-4: lighten($color-btn-4, 20%);
$color-btn-lighten-5: lighten($color-btn-5, 20%);

$color-text: #777777;
$color-bg: $white;



// Media Queries
$min-width: 786px;
