// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-text: #777777;
$color-bg: $white;

//Button Colors

$button-colors:(
'default': #51ddfc,
'success': #63cc82,
'error': #e4757a,
'warning': #fd7856,
'info': #927bc1,
);

//lighten-colors

$lighten-colors:(
'default': lighten(#51ddfc, 15%),
'success': lighten(#63cc82, 15%),
'error': lighten(#e4757a, 15%),
'warning': lighten(#fd7856, 15%),
'info': lighten(#927bc1, 15%),
);



//fonts

$font-primary: 'Lato', sans-serif;


// Media Query Breakpoints

$breakpoints:(
'm': 768px,
);
