/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include button ($brdr:none, $padd:10px 0) ;

  @include mquery ('m') {
  & {
    padding: 10px 30px;
  }

  & + & {
    margin-left: 10px;
  }

}
}

.default {
  background-color: $color-btn-1;
}

.error {
  background-color: $color-btn-3;
}

.info {
  background-color: $color-btn-5;
}

.success {
  background-color: $color-btn-2;
}

.warning {
  background-color: $color-btn-4;
}
