/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $color-btn-1;
}

.error {
  background-color: $color-btn-3;
}

.info {
  background-color: $color-btn-5;
}

.success {
  background-color: $color-btn-2;
}

.warning {
  background-color: $color-btn-4;
}
