/* ============================================= */
/*              Images                           */
/* ============================================= */


.img{
  @include img($dim: 100%);

&-frame
{
  @include img;
  padding: 13px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

&-avatar
{
  @include img;
  margin-top: 10px;
}

&-logo {
  @include img;
}

}

@include mquery ('m') {
.logo {
  margin-left: initial;
  margin-right: initial;
}
}
